<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
	<form action="" >
	<label for="username">Username</label>
	<input type="text" name="username"/>
	<br/>
	<label for="password">Password</label>	
	<input type="password" name="password"/>
	<div class="g-recaptcha" data-sitekey="6LcauA8TAAAAAGncDdV2pjc8lxWHf7oSiMz9_0OS"></div>
	<input type="submit"/>
	</form>
	
	
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>